[Unit]
Description=Dagster-Webserver
Documentation=http://docs.dagster.io

[Service]
TimeoutStartSec=0
Type=simple
Environment=DAGSTER_HOME=/opt/dagster/dagster_home
WorkingDirectory=/opt/dagster

User=dagster
Group=dagster

ExecStart=/usr/local/bin/dagster-webserver -h 0.0.0.0 -p 3000

[Install]
WantedBy=multi-user.target
